arm-gcc-compiler/
gcc-arm/
Project/MurtProtocol/.idea
*.gradle
gradle*
*.iml
.gradle/
gradle/
*gradle
Project/Android_deel/Murt/.gradle/
Project/Android_deel/Murt/.idea/
Project/Android_deel/Murt/app/build/

